dcilaboratorio/protected/views/facturacion/wspac.wsdl

<?xml version="1.0"?>

	<!-- Namespace for complex types included -->

	<definitions name="wspacService"
		targetNamespace="https://development.4gfactor.com:8008/wspacService"
		xmlns:tns="https://development.4gfactor.com:8008/wspacService"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:wspacType="wspacType_NS"
		xmlns="http://schemas.xmlsoap.org/wsdl/">

	<!-- Webservices data types -->

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="wspacType_NS">
			<!-- Session Type -->
			<complexType name="sesRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- CFD Type -->
			<complexType name="cfdRecord">
				<sequence>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="xml" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- CFDI Type -->
			<complexType name="cfdiRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="xml" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="string" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="date" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
					<element name="cfdStamp" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="certNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="satStamp" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Cancel CFDI Request Request Type -->
			<complexType name="cancelCfdiRequestRequestRecord">
				<sequence>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Cancel CFDI Request Response Type -->
			<complexType name="cancelCfdiRequestResponseRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Cancel CFDI Status Request Type -->
			<complexType name="cancelCfdiStatusRequestRecord">
				<sequence>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Cancel CFDI Status Response Type -->
			<complexType name="cancelCfdiStatusResponseRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="ack" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Search CFDI Type -->
			<complexType name="searchCfdiRecord">
				<sequence>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Validate CFD Response Type -->
			<complexType name="validateCfdResponseRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Stamps Package Record Type -->
			<complexType name="pkgRecord">
				<sequence>
					<element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="typeId" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="requestDate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
					<element name="requestTime" type="xsd:time" minOccurs="1" maxOccurs="1"/>
					<element name="exhaustDate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
					<element name="exhaustTime" type="xsd:time" minOccurs="1" maxOccurs="1"/>
					<element name="stampsTotal" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="stampsUsed" type="xsd:int" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Stamps Package Statistics Type -->
			<complexType name="statsRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
					<element name="pkg" type="wspacType:pkgRecord" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</complexType>
			<!-- Request Stamps Package Type -->
			<complexType name="reqPkgRecord">
				<sequence>
					<element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<element name="typeId" type="xsd:int" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
			<!-- Request Stamps Package Response Type -->
			<complexType name="reqPkgResponseRecord">
				<sequence>
					<element name="ok" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
					<element name="errorCode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</complexType>
		</schema>
	</types>

	<!-- Request and response messages -->

   <!-- openSession -->
	<message name="openSessionRequest">
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="openSessionResponse">
		<part name="ses" type="wspacType:sesRecord"/>
	</message>
   <!-- closeSession -->
	<message name="closeSessionRequest">
		<part name="token" type="xsd:string"/>
	</message>
	<message name="closeSessionResponse">
		<part name="ses" type="wspacType:sesRecord"/>
	</message>
   <!-- createCFDI -->
	<message name="createCFDIRequest">
		<part name="cfd" type="wspacType:cfdRecord"/>
	</message>
	<message name="createCFDIResponse">
		<part name="cfdi" type="wspacType:cfdiRecord"/>
	</message>
   <!-- cancelCFDIRequest -->
	<message name="cancelCFDIRequestRequest">
		<part name="cancelCfdiReq" type="wspacType:cancelCfdiRequestRequestRecord"/>
	</message>
	<message name="cancelCFDIRequestResponse">
		<part name="cancelReq" type="wspacType:cancelCfdiRequestResponseRecord"/>
	</message>
   <!-- cancelCFDIStatus -->
	<message name="cancelCFDIStatusRequest">
		<part name="cancelCfdiStt" type="wspacType:cancelCfdiStatusRequestRecord"/>
	</message>
	<message name="cancelCFDIStatusResponse">
		<part name="cancelStt" type="wspacType:cancelCfdiStatusResponseRecord"/>
	</message>
   <!-- searchCFDI -->
	<message name="searchCFDIRequest">
		<part name="searchCfdi" type="wspacType:searchCfdiRecord"/>
	</message>
	<message name="searchCFDIResponse">
		<part name="cfdi" type="wspacType:cfdiRecord"/>
	</message>
   <!-- validateCFD -->
	<message name="validateCFDRequest">
		<part name="cfd" type="wspacType:cfdRecord"/>
	</message>
	<message name="validateCFDResponse">
		<part name="valid" type="wspacType:validateCfdResponseRecord"/>
	</message>
   <!-- serviceUsage -->
	<message name="serviceUsageRequest">
		<part name="token" type="xsd:string"/>
	</message>
	<message name="serviceUsageResponse">
		<part name="stats" type="wspacType:statsRecord"/>
	</message>
   <!-- stampsRequest -->
	<message name="stampsRequestRequest">
		<part name="reqPkg" type="wspacType:reqPkgRecord"/>
	</message>
	<message name="stampsRequestResponse">
		<part name="reqResp" type="wspacType:reqPkgResponseRecord"/>
	</message>

	<!-- Ports -->

	<portType name="wspacServicePortType">
		<!-- openSession -->
		<operation name="openSession">
			<input message="tns:openSessionRequest"/>
			<output message="tns:openSessionResponse"/>
		</operation>
		<!-- closeSession -->
		<operation name="closeSession">
			<input message="tns:closeSessionRequest"/>
			<output message="tns:closeSessionResponse"/>
		</operation>
		<!-- createCFDI -->
		<operation name="createCFDI">
			<input message="tns:createCFDIRequest"/>
			<output message="tns:createCFDIResponse"/>
		</operation>
		<!-- cancelCFDIRequest -->
		<operation name="cancelCFDIRequest">
			<input message="tns:cancelCFDIRequestRequest"/>
			<output message="tns:cancelCFDIRequestResponse"/>
		</operation>
		<!-- cancelCFDIStatus -->
		<operation name="cancelCFDIStatus">
			<input message="tns:cancelCFDIStatusRequest"/>
			<output message="tns:cancelCFDIStatusResponse"/>
		</operation>
		<!-- searchCFDI -->
		<operation name="searchCFDI">
			<input message="tns:searchCFDIRequest"/>
			<output message="tns:searchCFDIResponse"/>
		</operation>
		<!-- validateCFD -->
		<operation name="validateCFD">
			<input message="tns:validateCFDRequest"/>
			<output message="tns:validateCFDResponse"/>
		</operation>
		<!-- serviceUsage -->
		<operation name="serviceUsage">
			<input message="tns:serviceUsageRequest"/>
			<output message="tns:serviceUsageResponse"/>
		</operation>
		<!-- stampsRequest -->
		<operation name="stampsRequest">
			<input message="tns:stampsRequestRequest"/>
			<output message="tns:stampsRequestResponse"/>
		</operation>
	</portType>

	<!-- Binding -->

	<binding name="wspacServiceBinding" type="tns:wspacServicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- openSession -->
		<operation name="openSession">
			<soap:operation soapAction="urn:wspac.wsdl#openSession"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- closeSession -->
		<operation name="closeSession">
			<soap:operation soapAction="urn:wspac.wsdl#closeSession"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- createCFDI -->
		<operation name="createCFDI">
			<soap:operation soapAction="urn:wspac.wsdl#createCFDI"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- cancelCFDIRequest -->
		<operation name="cancelCFDIRequest">
			<soap:operation soapAction="urn:wspac.wsdl#cancelCFDIRequest"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- cancelCFDIStatus -->
		<operation name="cancelCFDIStatus">
			<soap:operation soapAction="urn:wspac.wsdl#cancelCFDIStatus"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- searchCFDI -->
		<operation name="searchCFDI">
			<soap:operation soapAction="urn:wspac.wsdl#searchCFDI"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- validateCFD -->
		<operation name="validateCFD">
			<soap:operation soapAction="urn:wspac.wsdl#validateCFD"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- serviceUsage -->
		<operation name="serviceUsage">
			<soap:operation soapAction="urn:wspac.wsdl#serviceUsage"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
		<!-- stampsRequest -->
		<operation name="stampsRequest">
			<soap:operation soapAction="urn:wspac.wsdl#stampsRequest"/>
			<input>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:wspac.wsdl"/>
			</output>
		</operation>
	</binding>

	<!-- Service -->

	<service name="wspacService">
		<documentation>4G Factor PAC Stamping Services</documentation>
		<port name="wspacServicePort" binding="tns:wspacServiceBinding">
			<soap:address location="https://development.4gfactor.com:8008/wspacService"/>
		</port>
	</service>

</definitions>
